<div class="container my-selection-container">
  <div class="row">
    <div class="col-md-12">
      <div class="titlepage">
        <h2 class="my-selection-title">Ma Sélection de Produits</h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="my-selection-items">
        <!-- <div  *ngFor="let produit of produitsSelectionnes"> -->
        <div class="my-selection-item">
            <img class="my-selection-image" src="https://primini.tn/images/placeholder.jpg" alt=""      >
            <!-- [src]="produit.image" alt="{{ produit.nom }}" -->
            <div class="my-selection-info">
              <h3 class="my-selection-name">
                nom produit
                <!-- {{ produit.nom }} -->
              </h3>
              <p class="my-selection-description">
                <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis fugit aut dignissimos, numquam impedit, obcaecati dicta magni nobis voluptatem suscipit illum. Eius at laudantium ullam, provident fugit corporis sequi maxime.</span>
                <!-- {{ produit.description }} -->
              </p>
              <p class="my-selection-price">
                <!-- {{ produit.prix | currency : "DTN"}}  -->
                1200DTN
              </p>
              <p class="my-selection-availability">
                <!-- {{ produit.disponibilite }} -->
                disponible
              </p>
            </div>
            <button class="my-selection-btn" >
              <!-- (click)="supprimerProduit(produit)" -->
              Supprimer</button>
          <!-- </div> -->
        </div>
        <div class="my-selection-item">
          <img class="my-selection-image" src="https://primini.tn/images/placeholder.jpg" alt=""      >
          <!-- [src]="produit.image" alt="{{ produit.nom }}" -->
          <div class="my-selection-info">
            <h3 class="my-selection-name">
              nom produit
              <!-- {{ produit.nom }} -->
            </h3>
            <p class="my-selection-description">
              <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis fugit aut dignissimos, numquam impedit, obcaecati dicta magni nobis voluptatem suscipit illum. Eius at laudantium ullam, provident fugit corporis sequi maxime.</span>
              <!-- {{ produit.description }} -->
            </p>
            <p class="my-selection-price">
              <!-- {{ produit.prix | currency : "DTN"}}  -->
              1200DTN
            </p>
            <p class="my-selection-availability">
              <!-- {{ produit.disponibilite }} -->
              disponible
            </p>
          </div>
          <button class="my-selection-btn" >
            <!-- (click)="supprimerProduit(produit)" -->
            Supprimer</button>
        <!-- </div> -->
        </div>
        <div class="my-selection-item">
          <img class="my-selection-image" src="https://primini.tn/images/placeholder.jpg" alt=""      >
          <!-- [src]="produit.image" alt="{{ produit.nom }}" -->
          <div class="my-selection-info">
            <h3 class="my-selection-name">
              nom produit
              <!-- {{ produit.nom }} -->
            </h3>
            <p class="my-selection-description">
              <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis fugit aut dignissimos, numquam impedit, obcaecati dicta magni nobis voluptatem suscipit illum. Eius at laudantium ullam, provident fugit corporis sequi maxime.</span>
              <!-- {{ produit.description }} -->
            </p>
            <p class="my-selection-price">
              <!-- {{ produit.prix | currency : "DTN"}}  -->
              1200DTN
            </p>
            <p class="my-selection-availability">
              <!-- {{ produit.disponibilite }} -->
              disponible
            </p>
          </div>
          <button class="my-selection-btn" >
            <!-- (click)="supprimerProduit(produit)" -->
            Supprimer</button>
        <!-- </div> -->
        </div>
        <div class="my-selection-item">
          <img class="my-selection-image" src="https://primini.tn/images/placeholder.jpg" alt=""      >
          <!-- [src]="produit.image" alt="{{ produit.nom }}" -->
          <div class="my-selection-info">
            <h3 class="my-selection-name">
              nom produit
              <!-- {{ produit.nom }} -->
            </h3>
            <p class="my-selection-description">
              <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis fugit aut dignissimos, numquam impedit, obcaecati dicta magni nobis voluptatem suscipit illum. Eius at laudantium ullam, provident fugit corporis sequi maxime.</span>
              <!-- {{ produit.description }} -->
            </p>
            <p class="my-selection-price">
              <!-- {{ produit.prix | currency : "DTN"}}  -->
              1200DTN
            </p>
            <p class="my-selection-availability">
              <!-- {{ produit.disponibilite }} -->
              disponible
            </p>
          </div>
          <button class="my-selection-btn" >
            <!-- (click)="supprimerProduit(produit)" -->
            Supprimer</button>
        <!-- </div> -->
      </div>
      </div>
    </div>
  </div>
</div>
